/npm/node_modules
/npm/package-lock.json
/npm/export.log
/npm/hello.log
/unit-test/node_modules
/unit-test/package-lock.json
/unit-test/coverage

/logging/node_modules
/logging/package-lock.json
/logging/coverage


/express/node_modules
/express/package-lock.json